* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: Microsoft YaHei, Verdana, Arial, sans-serif;
  font-size: 0.26rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  font-size: 0.26rem;
  line-height: 0.26rem;
  background-color: #fff;
  color: #0ff;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.dn {
  display: none;
}

.div-panel {
  position: absolute;
  top: 10px;
  left: 10px;

  z-index: 9999;
}

.div-panels {
  margin: 0 0 10px 0;
  width: 180px;
  height: auto;
  overflow: hidden;

  /* border:solid #009999 1px; */
  background: linear-gradient(#0000ff, #0000ff) left top,
    linear-gradient(#0000ff, #0000ff) left top,
    linear-gradient(#0000ff, #0000ff) left bottom,
    linear-gradient(#0000ff, #0000ff) left bottom,
    linear-gradient(#0000ff, #0000ff) right top,
    linear-gradient(#0000ff, #0000ff) right top,
    linear-gradient(#0000ff, #0000ff) right bottom,
    linear-gradient(#0000ff, #0000ff) right bottom;
  background-repeat: no-repeat;
  background-size: 1px 6px, 6px 1px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #974a4a;
  font-size: 18px;
}

.div-panels dt {
  width: 180px;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  overflow: hidden;

  margin: 5px;
}

.div-panels dd {
  width: 180px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  overflow: hidden;

  margin: 5px;
}

.panels-left {
  width: 70px;
  float: left;

  text-align: center;
}

.panels-right {
  float: left;
}

.panels-right input {
  width: 90px;
  height: 26px;
}

.btn {
  padding: 5px;
}

input {
  outline: none
}

select {
  outline: none
}
